extends layout

block content
    -var job = jobList[0];

    h1 Job Details

    div(class="row ")
        div(class="col-xs-12 col-sm-10 col-md-8 col-xl-6 input-group mb-3")
            label(class="form-control") #{job.origin}
            div(class="input-group-append")
                span(class="input-group-text") Origin
    div(class="row ")
        div(class="col-xs-12 col-sm-10 col-md-8 col-xl-6 input-group mb-3")
            label(class="form-control") #{job.destination}
            div(class="input-group-append")
                span(class="input-group-text") Destination
    div(class="row ")
        div(class="col-xs-12 col-sm-10 col-md-8 col-xl-6 input-group mb-3")
            label(class="form-control") #{job.start}
            div(class="input-group-append")
                span(class="input-group-text") Start Date & Time
    div(class="row ")
        div(class="col-xs-12 col-sm-10 col-md-8 col-xl-6 input-group mb-3")
            label(class="form-control") #{job.finish}
            div(class="input-group-append")
                span(class="input-group-text") End Date & Time
    div(class="row ")
        div(class="col-xs-12 col-sm-10 col-md-8 col-xl-6 input-group mb-3")
            div(class="input-group-prepend")
                span(class="input-group-text") £
            label(class="form-control") #{job.fare}
            div(class="input-group-append")
                span(class="input-group-text") Fare